{% extends 'base.html.twig' %}
{% block header %}Url creation{% endblock %}

{% block body %}
    {{ form_start(form) }}
<div class="row">

        {{ form_widget(form) }}

</div>
<div class="row">
<div class="btn-group">
    <button type="submit" value="Create" class="btn btn-success" >Create</button>
    <a href="{{ path('url_index') }}" class="btn bg-info">Back to the list</a>
</div>
</div>
    {{ form_end(form) }}
{% endblock %}
